<div class="col-md-3 bg-secondary d-flex flex-column" style="height: 100%;">
                <div class="overflow" style="overflow-x: hidden;overflow-y: auto;">
                <hr>
                    {% for chat_item in chats_list %}
                    <div class="container row no-gutters d-flex flex-wrap align-items-center chats-container{% if this_chat and this_chat == chat_item.chat %} bg-light{% endif %}" style="margin-left: -15px; margin-right: -15px;">
                        <div class="col-md-2">
                            <img src="{{ chat_item.avatar }}" class="w-100">
                        </div>
                        <div class="col-md-10 pl-2">
                            {{ chat_item.name }}
                            <br>
                            {% if chat_item.last_message %}
                            <small>
                                <div>
                                    {{ chat_item.last_message.content }}
                                    <br>
                                    {{ chat_item.last_message.datetime }}
                                </div>
                            </small>
                            {% endif %}
                        <a href="{{ chat_item.link }}" class="stretched-link"></a>
                        </div>
                    </div>
                <hr>
                    {% endfor %}
                </div>
            </div>