{% extends 'base.html' %}
{% load static %}

{% block style %}

            .overflow::-webkit-scrollbar {
              width: 4px;
            }

            .overflow::-webkit-scrollbar-track {
              box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            }

            .overflow::-webkit-scrollbar-thumb {
              background-color: darkgrey;
              outline: 1px solid slategrey;
            }
    .msgs-msgs:hover{
        background-color:#6c757d;
    }
    .msgs-container:hover{
        background-color: lightgrey;
    }
{% endblock %}

{% block content %}
    <div class="container w-75 mt-3">
        <div class="row" style="height: 75vh;">
            {% include 'chat/chats_list.html' %}
            <div class="col d-flex flex-column h-100" style="background-color: slategrey">
                <div class="row bg-light">
                    <a href="{% url 'users_app:profile' id=other_user.id %}"> <img src="{{ other_user.eesuser.avatar.url }}" style="height: 20px">{{ other_user.username}}</a>
                </div>
                <div class="row flex-column-reverse overflow flex-nowrap h-100 text-break" style="overflow-x: hidden;overflow-y: auto; display: flex; flex: 1 1 auto;">
                    {% for chat_message in chat_messages %}
                        <div class="row msgs-container p-2">
                            <div class="col-md-1 msgs-photo">
                                <img class="w-100" src="{{ chat_message.sender.eesuser.avatar.url }}">
                            </div>
                            <div class="col-md">
                                <div class="row msgs-sender">
                                    <div class="col-md-11">
                                        <a href="{% url 'users_app:profile' id=chat_message.sender.id %}">{{ chat_message.sender.username }}</a>
                                        <span style="float: right;"> {{ chat_message.datetime }}</span>
                                    </div>
                                </div>
                                <div class="msgs-msgs">
                                    <div class="row msgs-msg p-2">
                                        <div class="col-md msg-text">
                                            {{ chat_message.content }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row mt-auto">
                    <form method="POST">
                        {% csrf_token %}
                        <input name="message" id="message" type="text" placeholder="Введите сообщение">
                        <input type="submit" value="Отправить">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'chat.js' %}"></script>
{% endblock %}