{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="container m-auto">
        <div class="">
        <div class="col-md-5 offset-md-3">
            <form method="POST" class="py-4 px-5 border border-secondary rounded-lg">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.old_password.errors }}
                    <label for="{{ form.old_password.id_for_label }}">Старый пароль</label> {{ form.old_password|add_class:'form-control' }}
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        {{ form.old_password.help_text }}
                    </small>
                </div>
                <div class="form-group">
                    {{ form.new_password1.errors }}
                    <label for="{{ form.new_password1.id_for_label }}">Новый пароль</label> {{ form.new_password1|add_class:'form-control' }}
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        {{ form.new_password1.help_text }}
                    </small>
                </div>
                <div class="form-group">
                    {{ form.new_password2.errors }}
                    <label for="{{ form.new_password2.id_for_label }}">Повтор нового пароля</label> {{ form.new_password2|add_class:'form-control' }}
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        {{ form.new_password2.help_text }}
                    </small>
                </div>
                <button type="submit" class="btn btn-dark">Сменить пароль</button>
            </form>
        </div>
            </div>
    </div>
{% endblock %}