{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container pt-20">
<div class="row mb-4 d-flex justify-content-center">
    <input onkeyup="filter_users()" id="filter_input" type="text" name="filter" placeholder="Поиск пользователей">
</div>
<div class="row">
    {% for user in users %}
        <div class="card user_card mb-3 mr-2" style="width: 350px;">
            <div class="row no-gutters d-flex flex-wrap align-items-center h-100">
                <div class="col-md-3">
                    <img class="img-thumbnail ml-2" src="{{ user.eesuser.avatar.url }}">
                </div>
                <div class="col-md-7 ml-3">
                    <div>
                        <h6 class="card-title">
                        <a class="text-dark username_link" href="{% url 'users_app:profile' id=user.id %}">{{ user.username }}</a></h6>
                        <p class="card-text"><small class="text-muted">В сети {{ user.last_login }}</small></p>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

</div></div>

    <script>
function filter_users() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('filter_input');
  filter = input.value.toUpperCase();
  cards = document.getElementsByClassName('user_card');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < cards.length; i++) {
    a = cards[i].getElementsByClassName('username_link')[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      cards[i].style.display = "";
    } else {
      cards[i].style.display = "none";
    }
  }
}
</script>
{% endblock %}