{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="container m-auto">
        <div class="">
        <div class="col-md-5 offset-md-3">
            <form method="POST" class="py-4 px-5 border border-secondary rounded-lg">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username.errors }}
                    <label for="{{ form.username.id_for_label }}">Имя пользователя</label> {{ form.username|add_class:'form-control' }}
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        {{ form.username.help_text }}
                    </small>
                </div>
                <div class="form-group">
                    {{ form.password1.errors }}
                    <label for="{{ form.password1.id_for_label }}">Пароль</label> {{ form.password1|add_class:'form-control' }}
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        <ul>
                            <li>Ваш пароль не может быть похож на имя вашего аккаунта.</li>
                            <li>Ваш пароль должен содержать как минимум 8 символов.</li>
                            <li>Ваш пароль не может состоять только из цифр.</li>
                        </ul>
                    </small>
                </div>
                <div class="form-group">
                    {{ form.password2.errors }}
                    <label for="{{ form.password2.id_for_label }}">Повтор пароля</label> {{ form.password2|add_class:'form-control' }}
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        {{ form.password2.help_text }}
                    </small>
                </div>
                <button type="submit" class="btn btn-dark">Зарегистрироваться</button>
            </form>
        </div>
            </div>
    </div>
{% endblock %}