.idea/
123.png
__pycache__/
chat.png
courses.png
db.sqlite3
main.png
media/
my_project.dot
my_project_subsystem.png
my_project_visualized.png
news.png
psycopg2-2.8.5/
users.png
venv/
EES/settings.py
static/admin/
static/django-extensions/
