{% extends 'base.html' %}

{% block content %}
    <div class="container pt-20">
        <div class="row">
            <p>Изменение новости</p> {{ name }}
        </div>
        <form method="POST" class="pt-20 d-inline">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <input type="submit" value="Сохранить">
        </form>
        <form method="POST" action="{% url 'news_app:delete' id=id %}" class="d-inline">
            {% csrf_token %}
            <a class="text-secondary" style="cursor: pointer;" onclick="if(confirm('Вы уверены, что хотите удалить эту новость?'))this.closest('form').submit();return false;">Удалить</a>
        </form>
    </div>
{% endblock %}