{% extends 'base.html' %}
{% load list_filter %}
{% block content %}
<div class="container pt-20">
    <p>Пользователь: <a href="{% url 'users_app:profile' id=user.id %}">{{ user }}</a></p>
    <p>Попытка номер {{ try_no }}</p>
    <p>Не оцененные автоматически ответы:</p>
    <form method="POST" class="container">
        {% csrf_token %}
        {% for answer in not_automaticly_rated %}
        <div class="border p-4 pl-5">
            <p class="row">Вопрос: {{ answer.question.question }}</p>
            <p class="row">Максимально баллов: {{ answer.question.rating }}</p>
            {% if question.hint and question.hint != '' %}
                <p class="row">Подсказки проверяющему: {{ question.hint }}</p>
            {% endif %}
            <p>Ответ: {% if not answer.answer %}{% if answer.answer_file %}<a href="{{ answer.answer_file.url }}">{{ answer.answer_file.name }}</a>{% else %}не дан{% endif %}{% else %}{{ answer.answer }}{% endif %}</p>
            <p>Ваша оценка:</p>
            {% with rate_forms|list_item:forloop.counter as form %}
                {{ form.rate }}
            {% endwith %}
        </div>
        {% endfor %}
        <input type="submit" class="btn btn-dark mb-4" value="Оценить">
    </form>
    <p>Оцененные автоматически ответы:</p>
    <div class="container">
        {% for answer in automaticly_rated %}
            <div class="border p-4 pl-5">
                <p class="row">Вопрос: {{ answer.answer.question.question }}</p>
                <p class="row">Максимально баллов: {{ answer.answer.question.rating }}</p>
                {% if answer.question.hint and question.hint != '' %}
                <p class="row">Подсказки проверяющему: {{ answer.answer.question.hint }}</p>
                {% endif %}
                Варианты ответов:
                <div class="row">
                    <div class="col-md-2">
                        Правильный
                    </div>
                    <div class="col">
                        Ответ
                    </div>
                </div>
                {% for r_ans in answer.real_answers %}
                    <div class="row">
                        <div class="col-md-2">
                            {% if r_ans.is_correct %}Верно
                            {% else %}Неверно
                            {% endif %}
                        </div>
                        <div class="col">
                            {{ r_ans.text }}
                        </div>
                    </div>
                {% endfor %}
                Пользователь ввел:
                {% if answer.answer.answer %}
                    {% for ans in answer.answer.answer %}
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col">
                                {{ ans }}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <p class="pt-3">Баллы: {{ answer.answer.rate }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}