{% extends 'base.html' %}

{% block content %}
<div class="container pt-20 text-break">
    <h6>Тест {{ test.name }}</h6>
    <p>{{ test.description }}</p>
    <p>Тест включает в себя {% if test.number_of_questions %}{{ test.number_of_questions }} вопросов{% else %}все вопросы (по одному на каждую группу + все вопросы без групп){% endif %}</p>
    <p>Количество попыток: {% if test.tries %} {{ test.tries }}{% else %}без ограничения{% endif %}</p>
    <p>Ограничение по времени в минутах: {% if test.time_restriction %} {{ test.time_restriction }}{% else %}без ограничения{% endif %}</p>


    {% for group, questions in groups.items %}
    <div class="container border p-2">
        {% if group == '' %}
            Вопросы без групп:
        {% else %}
        Группа {{ group }}:
        {% endif %}
        {% for question in questions %}
            <hr>
        <div class="container">
            <p>Вопрос: {{ question.question }}</p>
            <p>Тип вопроса: {{ question.type }}</p>
            <p>Баллов за вопрос: {{ question.rating }}</p>
        {% if question.hint and question.hint != '' %}
            <p>Подсказки проверяющему: {{ question.hint }}</p>
        {% endif %}
        {{ question.answers }}
            {% if question.answers and question.answers.length > 0 %}
            <p>Варианты ответа:</p>
            <div class="container">
                <div class="row mb-2">
                    <div class="col-md-2">
                        Верный/Неверный
                    </div>
                    <div class="col">
                        Ответ
                    </div>
                </div>
                {% for answer in question.answers %}
                <div class="row">
                    <div class="col-md-2">
                        {% if answer.is_correct %}
                        Верный
                        {% else %}
                        Неверный
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ answer.text }}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    <div class="container">
        Пользователи, писавшие тест:
            <div class="container border">
        {% for user_tries in users_tries %}
            <p>Пользователь: <a href="{% url 'users_app:profile' id=user_tries.user.id %}">{{ user_tries.user }}</a></p>
                <div class="row">
                <div class="col-md-2">
                    Попытки:
                </div>
                <div class="col">
                {% for try in user_tries.tries %}
                    <div class="row">
                        <a href="user/{{ user_tries.user.id }}/rate/{{ forloop.counter }}/" class="py-1">Попытка {{ forloop.counter }}<span class="ml-5">{% if try.rated %}Оценено({{ try.rating }}/{{ try.max_rating }}){% else %}Не оценено{% endif %}</span></a>
                    </div>
                {% endfor %}
                </div>
                </div>
        {% endfor %}
            </div>
    </div>
</div>
{% endblock %}