{% extends 'base.html' %}

{% block content %}
<div class="container pt-20 text-break">
    <h6>Тест {{ test.name }}</h6>
    <p>{{ test.description }}</p>
    <p>Тест включает в себя {{ question_count }} вопросов</p>
    <p>Количество попыток: {% if test.tries %} {{ test.tries }}{% else %}без ограничения{% endif %}</p>
    <p>Ограничение по времени в минутах: {% if test.time_restriction %} {{ test.time_restriction }}{% else %}без ограничения{% endif %}</p>
    {% if no_test_button %}Попытки кончились{% else %}<a href="try/" class="btn btn-dark">Начать тест</a>{% endif %}

    {% for try in tries %}
        <div class="row">
            <a href="try/{{ forloop.counter }}/">Попытка {{ forloop.counter }}<span class="ml-5">{% if try.rated %}Оценено({{ try.rating }}/{{ try.max_rating }}){% else %}Не оценено{% endif %}</span></a>
        </div>
    {% endfor %}
</div>
{% endblock %}