{% extends 'base.html' %}

{% block content %}
    <form method="POST" enctype="multipart/form-data" class="container p-20 text-break">
        {% csrf_token %}
        <h5 class="container">Тест: {{ test.name }} <p><span class="timer">{% if time_left %}Время: {{ time_left }} сек.{% else %}Без ограничения по времени{% endif %}</span><span>(Попытка {{ try_no }})</span></p></h5>
        {% if test.description %}<p>Описание :{{ test.description }}</p>{% endif %}
        {% for f_n_q in forms_and_questions %}
            <div class="container border p-2 d-inline-block">
                <p>Вопрос: {{ f_n_q.question.question }}</p>
                <div class="container p-2">
                    {{ f_n_q.form }}
                </div>
            </div>
        {% endfor %}
        <input type="submit" class="btn btn-dark" value="Отправить ответы">
    </form>
    <script>
        {% if time_left %}
        timer = document.getElementsByClassName('timer')[0];
        time = Number({{ time_left }}) - 1;
        setInterval(() => {
            timer.innerHTML = 'Время: ' + time;
            time--;
            if(time == 0){
                time = 40;
            }
        }, 1000)
        {% endif %}
    </script>
{% endblock %}