{% extends 'base.html' %}
{% load list_filter %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                {{ path_widget|safe }}
            </div>
        </div>
        <div class="row border">
            <div class="col-md-3 offset-md-1">
                Разделы:
            </div>
            <div class="col">
                {% for section in sections %}
                <div class="row py-2">
                    <div class="col-md-7 text-break">
                        <a href="section/{{ forloop.counter }}">{{ section.name }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row border">
            <div class="col-md-3 offset-md-1">
                Тесты:
            </div>
            <div class="col">
                {% for test in tests %}
                <div class="row py-2">
                    <div class="col-md-9 text-break">
                        <a href="test/{{ forloop.counter }}/">{{ test.name }}</a>
                    </div>
                    <div class="col-md text-break">
                        {% with max_rate_tries|list_item:forloop.counter as try_entry %}
                            {% if try_entry.rating is not None %}
                            {{ try_entry.rating }}/{{ try_entry.max_rating }}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row border">
            <div class="col-md-3 offset-md-1">
                Страницы:
            </div>
            <div class="col">
                {% for page in pages %}
                <div class="row py-2">
                    <div class="col-md-7 text-break">
                        <a href="page/{{ forloop.counter }}">{{ page.name }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row border">
            <div class="col-md-3 offset-md-1">
                Документы:
            </div>
            <div class="col">
                {% for document in documents %}
                <div class="row py-2">
                    <div class="col-md-7 text-break">
                        <a href="document/{{ forloop.counter }}">{{ document.name }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}